/* aplicando reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    /* ponemos todos los fondos de todas las paginas en marron*/
     background-color: #342E26;  
}
header{
    /*los encabezados de todas las paginas estaran en la izquierda del todo*/  
     padding: 10px 20px;
}
header nav a{
    /*todos los encabezados estaran de color gris*/
     color: #EED9C4;  
}


footer{
    color: whitesmoke;
    padding: 20px;
}

.casaFeliz{
    height: auto;
    width: 150px;
    margin-top: 20px;
}

main{
    text-align: center;
    color:whitesmoke;
    padding: 20px;
    border: 1px solid #555;
}
/* separamos el footer de el contenido */
footer p{
    margin-top: 50px;
}
/* editando la imagen del logo del index y las demas paginas para achicarla */
.logo{
    max-width: 100%;
    height: auto;
}





/* achicando el logo de instagram e facebook*/
.logoInstagram{
    height: auto;
    width: 50px;
}

.logoFacebook{
    height: auto;
    width: 50px;
}
/* quitar punto blanco a la izqueirda arriba */
header nav ul{
    list-style: none;
}

/* personalizar la pagina de inmuebles */

.textoMainInmuebles{
    text-align: left;
}

.textoMainInmuebles ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
}
/* sacar los puntos de la lista de la pagina de Inmuebles */
.textoMainInmuebles ul li{
    list-style: none;
}
.inmueblesDetalles{
    text-align: left;
    color:#D4AF37;
}
/* aplicando GRID y MQ a la pagina de Inmuebles*/
@media(min-width: 768px){
    .textoMainInmuebles ul{
        grid-template-columns: repeat(2,1fr);
    }
}

/* personalizacion de las fotos de las casas de la pagina de Inmuebles*/
.casaFoto{
    display: block;/*obliga a la imagen a ocupar toda la linea asi detalles queda abajo*/
    margin-right: auto;/*mueve la imagen a la izquerida, el display: block no  me permitia
    mover normalmente*/
    width: 100%;
    max-width: 250px;
    height: auto;
}

/* dejando un espacio considerable entre publicaciones */

.separar{
    margin-top: 50px;
}

/* personalziacion de acerca de nosotros el link de contactos de el ultimo parrafo */
.acercaNosContactos{
    color: #D4AF37;
}

/* separando la informacion de las publicaciones de los inmuebles y demas texto de otras paginas */
.separar{
    margin-top: 50px;
}
.separarMasChico{
    margin-top: 30px;
}

/* achicando las imagenes del interior de las casas de los detalles */
.casaPorDentro{
    height: auto;
    width: 100%;
    max-width: 250px;
}

/* personalizar foto de patio y cocina*/
.fotoPatio{
    width: 100%;
    max-width: 250px;
    height: auto;
}
.fotoCocina{
    width: 100%;
    max-width: 250px;
    height: auto;
}
.fotoBaño{
    width: 100%;
    max-width: 250px;
    height: auto;
}
.imagenesDeLaCasa1y3 ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
    list-style: none;
}
.imagenesDeLaCasa2y4 ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
    list-style: none;
}
/* aplicando GRID y MQ a la pagina de detalles*/
@media(min-width: 768px){
    .imagenesDeLaCasa1y3 ul{
        grid-template-columns: repeat(2,1fr);
    }
    .imagenesDeLaCasa2y4 ul{
        grid-template-columns: repeat(3,1fr);
    }
}

    

/* personalizar pagina de contactos */

.wpp{
    margin-top: 20px;
    width: 70px;
    height: auto;
}


