// COLORES
$color-fondo: #342E26;        // fondo general
$color-texto: whitesmoke;     // color de textos principales
$color-acento: #D4AF37;       // dorado, acentos y enlaces
$color-nav: #EED9C4;          // links del navbar

// TAMAÑOS DE IMÁGENES
$logo-size: 50px;
$logo-social-size: 50px;
$casa-feliz-width: 150px;
$casa-foto-max-width: 250px;
$casa-interior-max-width: 250px;
$wpp-width: 70px;

// ESPACIOS
$padding-header: 10px 20px;
$padding-main: 20px;
$margin-top-separar: 50px;
$margin-top-separar-chico: 30px;

// OTROS
$border-main: 1px solid #555;
